In [19]:
import pandas as pd
df = pd.read_csv('harrisCountyProcessedData/forestSpatialConfigurations.csv')

In [21]:
harrisForestSpatialConfig_df = df.iloc[:, [3, 4, 8, 15, 16]]
harrisForestSpatialConfig_df.shape

(51077, 5)

In [119]:
fctImpDf = pd.read_csv('harrisCountyProcessedData/harrisFctImp.csv')
fctImpDf.shape

(50654, 5)

In [ ]:
result_inner = pd.merge(harrisForestSpatialConfig_df, fctImpDf, on='CTBKEY')
result_inner.drop(['ZONE_CODE', 'COUNT', 'AREA'], axis=1, inplace=True)
result_inner.rename(columns={'MEAN':'FctImp'}, inplace=True)

In [121]:
lstDf = pd.read_csv('harrisCountyProcessedData/harrisLST.csv')
lstDf.shape

(50633, 5)

In [123]:
harris_df = pd.merge(result_inner, lstDf, on='CTBKEY')
harris_df.drop(['ZONE_CODE', 'COUNT', 'AREA'], axis=1, inplace=True)
harris_df.rename(columns={'MEAN':'LST'}, inplace=True)
harris_df.shape

(50354, 7)

In [125]:
ndviDf = pd.read_csv('harrisCountyProcessedData/harrisNDVI.csv')
ndviDf.shape

(14378, 5)

In [127]:
harris_df = pd.merge(harris_df, ndviDf, on='CTBKEY')
harris_df.drop(['ZONE_CODE', 'COUNT', 'AREA'], axis=1, inplace=True)
harris_df.rename(columns={'MEAN':'NDVI'}, inplace=True)
harris_df.shape

(14371, 8)

In [129]:
perCoverForestDf = pd.read_csv('harrisCountyProcessedData/perCoverForest.csv')
perCoverForestDf.shape

(51077, 5)

In [103]:
harrisForest_df = pd.merge(harris_df, perCoverForestDf, on='CTBKEY')
harrisForest_df.drop(['VALUE_0', 'VALUE_1', 'Total_Cells'], axis=1, inplace=True)
harrisForest_df.to_csv('harrisDataF.csv', index=False)

In [131]:
harrisForest_df.shape

(14371, 9)

In [133]:
redliningDf = pd.read_csv('harrisCountyProcessedData/harrisRedliningGrades.csv')
redliningDf.shape

(7554, 5)

In [135]:
harrisCBDf = pd.read_csv('harrisCountyProcessedData/harrisCensusBlocks.csv')
harrisCBDf.index = harrisCBDf.index + 1
harrisCBDf.reset_index(inplace=True)
harrisCBDf.rename(columns={'index': 'Join_ID'}, inplace=True)

In [137]:
harrisCBDf.shape

(51077, 13)

In [139]:
redliningDf = pd.merge(redliningDf, harrisCBDf, on='Join_ID')
redliningDf = redliningDf.iloc[:, [1, 13]]
redliningDf.shape

(7554, 2)

In [115]:
harrisForest_df

,TRT,BLK,CTBKEY,Patch_Density,Landscape_Shape_Index,FctImp,LST,NDVI,PerCover_Forest
0,251701,1004,2012517011004,0.0,NaN,37.528571,43101.669475,7053.692383,0.0
1,251701,1018,2012517011018,0.0,NaN,40.324786,42825.228105,7057.500000,0.0
2,251701,2003,2012517012003,0.0,NaN,15.875862,41132.203206,8368.269531,0.0
3,251701,2004,2012517012004,0.0,NaN,17.111111,41354.996182,7756.038574,0.0
4,251701,2006,2012517012006,0.0,NaN,19.133333,41942.301463,7184.538574,0.0
...,...,...,...,...,...,...,...,...,...
14366,980400,1002,2019804001002,0.0,NaN,77.631356,47248.320626,3662.807617,0.0
14367,980400,1003,2019804001003,0.0,NaN,65.434783,47410.404127,3367.730713,0.0
14368,980700,1001,2019807001001,0.0,NaN,70.636364,46913.141961,3771.307617,0.0
14369,980700,1066,2019807001066,0.0,NaN,87.250000,46690.399148,2621.192383,0.0
14370,980700,1074,2019807001074,0.0,NaN,87.250000,46676.733724,2528.038574,0.0

In [141]:
harrisWRedlining_df = pd.merge(harrisForest_df, redliningDf, on='CTBKEY')
#harrisWRedlining_df = harrisWRedlining_df.iloc[:, [1, 13]]
#harrisWRedlining_df.drop(['Join_ID', 'COUNT', 'AREA'], axis=1, inplace=True)
harrisWRedlining_df

,TRT,BLK,CTBKEY,Patch_Density,Landscape_Shape_Index,FctImp,LST,NDVI,PerCover_Forest,grade
0,100001,1037,2011000011037,0.000000e+00,NaN,84.636364,48052.281605,2888.769287,0.000000,D
1,100001,1123,2011000011123,0.000000e+00,NaN,88.636364,49436.166341,2234.884521,0.000000,C
2,210400,1041,2012104001041,0.000000e+00,NaN,55.222222,46799.800223,5435.192383,0.000000,C
3,210400,1047,2012104001047,0.000000e+00,NaN,53.888889,46972.343192,5750.615234,0.000000,D
4,210400,1058,2012104001058,0.000000e+00,NaN,68.723404,47162.075608,5301.038574,0.000000,C
...,...,...,...,...,...,...,...,...,...,...
952,980300,1001,2019803001001,1.132319e-07,141392.446617,53.101099,48699.447482,5475.083252,0.001132,B
953,980400,1000,2019804001000,0.000000e+00,NaN,63.015353,48028.276383,3461.403849,0.000000,D
954,980400,1001,2019804001001,0.000000e+00,NaN,58.636771,48887.495618,3843.077026,0.000000,D
955,980200,1015,2019802001015,0.000000e+00,NaN,64.330357,48677.962612,2831.461426,0.000000,D
956,980400,1002,2019804001002,0.000000e+00,NaN,77.631356,47248.320626,3662.807617,0.000000,D

In [143]:
harrisWRedlining_df.to_csv('harrisDataFR.csv', index=False)

In [225]:
fctImpDf = pd.read_csv('LACountyProcessedData/laFctImp.csv')
fctImpDf.drop(['ZONE_CODE', 'COUNT', 'AREA'], axis=1, inplace=True)
fctImpDf.rename(columns={'MEAN':'FctImp'}, inplace=True)
lstDf = pd.read_csv('LACountyProcessedData/laLST.csv')
la_df = pd.merge(fctImpDf, lstDf, on='CTCB20')
la_df.drop(['ZONE_CODE', 'COUNT', 'AREA'], axis=1, inplace=True)
la_df.rename(columns={'MEAN':'LST'}, inplace=True)
ndviDf = pd.read_csv('LACountyProcessedData/laNDVI.csv')
la_df = pd.merge(la_df, ndviDf, on='CTCB20')
la_df.drop(['ZONE_CODE', 'COUNT', 'AREA'], axis=1, inplace=True)
la_df.rename(columns={'MEAN':'NDVI'}, inplace=True)
la_df

           CTCB20     FctImp           LST         NDVI
0      1093002015  57.629630  44746.333550  3340.692383
1      1112023009  55.935484  44705.122266  3829.076904
2      1131011011  52.142857  44198.777737  3776.730713
3      1131011009  47.220779  44318.365284  3825.269287
4      1093002006  57.083333  44792.398438  3526.384521
...           ...        ...           ...          ...
22991  1861001008  34.989247  43797.141507  4453.634766
22992  4642003001  48.818182  44347.714379  4849.769043
22993  4004032004  44.676768  44475.132454  4306.269043
22994  4640001002  34.448980  43116.329922  6014.230957
22995  4002072010  48.700000  44502.187878  4183.577148

[22996 rows x 4 columns]

In [227]:
df = pd.read_csv('LACountyProcessedData/forestSpatialConfigurations.csv')
laForestSpatialConfig_df = df.iloc[:, [3, 4, 5, 6, 34, 35]]
laForestSpatialConfig_df

         CT20     BG20  CB20      CTCB20  LandscapeShapeIndex  PatchDensity
0      109300  1093002  2015  1093002015                  NaN           0.0
1      109300  1093001  1007  1093001007                  NaN           0.0
2      111100  1111001  1005  1111001005                  NaN           0.0
3      111202  1112023  3009  1112023009                  NaN           0.0
4      113101  1131011  1011  1131011011                  NaN           0.0
...       ...      ...   ...         ...                  ...           ...
91571  431800  4318003  3003  4318003003                  NaN           0.0
91572  463900  4639003  3012  4639003012                  NaN           0.0
91573  464102  4641023  3010  4641023010                  NaN           0.0
91574  302505  3025051  1015  3025051015                  NaN           0.0
91575  400207  4002072  2010  4002072010                  NaN           0.0

[91576 rows x 6 columns]

In [229]:
laForest_df = pd.merge(la_df, laForestSpatialConfig_df, on='CTCB20')
perCoverForestDf = pd.read_csv('LACountyProcessedData/perCoverForest.csv')
laForest_df = pd.merge(laForest_df, perCoverForestDf, on='CTCB20')
laForest_df.drop(['VALUE_0', 'VALUE_1', 'Total_Cells'], axis=1, inplace=True)
laForest_df

,CTCB20,FctImp,LST,NDVI,CT20,BG20,CB20,LandscapeShapeIndex,PatchDensity,PerCover_Forest
0,1093002015,57.629630,44746.333550,3340.692383,109300,1093002,2015,NaN,0.0,0.0
1,1112023009,55.935484,44705.122266,3829.076904,111202,1112023,3009,NaN,0.0,0.0
2,1131011011,52.142857,44198.777737,3776.730713,113101,1131011,1011,NaN,0.0,0.0
3,1131011009,47.220779,44318.365284,3825.269287,113101,1131011,1009,NaN,0.0,0.0
4,1093002006,57.083333,44792.398438,3526.384521,109300,1093002,2006,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
22991,1861001008,34.989247,43797.141507,4453.634766,186100,1861001,1008,NaN,0.0,0.0
22992,4642003001,48.818182,44347.714379,4849.769043,464200,4642003,3001,NaN,0.0,0.0
22993,4004032004,44.676768,44475.132454,4306.269043,400403,4004032,2004,NaN,0.0,0.0
22994,4640001002,34.448980,43116.329922,6014.230957,464000,4640001,1002,NaN,0.0,0.0
22995,4002072010,48.700000,44502.187878,4183.577148,400207,4002072,2010,NaN,0.0,0.0

In [241]:
laForest_df.to_csv('laDataF.csv', index=False)

In [263]:
laCBDf

       Join_ID      CTCB20
0            1  1093002015
1            2  1093001007
2            3  1111001005
3            4  1112023009
4            5  1131011011
...        ...         ...
91571    91622  4318003003
91572    91623  4639003012
91573    91624  4641023010
91574    91625  3025051015
91575    91626  4002072010

[91576 rows x 2 columns]

In [281]:
redliningDf = pd.read_csv('LACountyProcessedData/laRedliningGrades.csv')
redliningDf = redliningDf.iloc[:, [0, 1]]
laCBDf = pd.read_csv('LACountyProcessedData/laCensusBlocks.csv')
laCBDf.index = laCBDf.index + 1
laCBDf.reset_index(inplace=True)
laCBDf.rename(columns={'index': 'Join_ID'}, inplace=True)
laCBDf = laCBDf.loc[:, ['Join_ID', 'CTCB20']]

In [283]:
laRDf = pd.merge(redliningDf, laCBDf, on='Join_ID')

In [285]:
laRDf = laRDf.loc[:, ['grade', 'CTCB20']]

In [287]:
laWRedlining_df = pd.merge(laForest_df, laRDf, on='CTCB20')
laWRedlining_df

,CTCB20,FctImp,LST,NDVI,CT20,BG20,CB20,LandscapeShapeIndex,PatchDensity,PerCover_Forest,grade
0,1043212007,60.705882,44658.633073,2408.923096,104321,1043212,2007,NaN,0.000000e+00,0.000000,D
1,1014002000,26.184375,44300.289805,5249.653809,101400,1014002,2000,56370.499597,9.710493e-07,0.047285,C
2,4607005008,20.162679,43441.996243,4834.077148,460700,4607005,5008,NaN,0.000000e+00,0.000000,C
3,3014004001,44.000000,43726.307692,4910.115234,301400,3014004,4001,NaN,0.000000e+00,0.000000,A
4,1278061011,83.944444,45571.858203,3065.884521,127806,1278061,1011,NaN,0.000000e+00,0.000000,C
...,...,...,...,...,...,...,...,...,...,...,...
8124,6201013006,69.380952,44618.301711,2578.538574,620101,6201013,3006,NaN,0.000000e+00,0.000000,C
8125,1861001008,34.989247,43797.141507,4453.634766,186100,1861001,1008,NaN,0.000000e+00,0.000000,B
8126,1861001008,34.989247,43797.141507,4453.634766,186100,1861001,1008,NaN,0.000000e+00,0.000000,C
8127,4642003001,48.818182,44347.714379,4849.769043,464200,4642003,3001,NaN,0.000000e+00,0.000000,A
8128,4640001002,34.448980,43116.329922,6014.230957,464000,4640001,1002,NaN,0.000000e+00,0.000000,B

In [291]:
laWRedlining_df.to_csv('laDataFR.csv', index=False)

In [293]:
df = pd.read_csv('LACountyProcessedData/greenSpatialConfiguration.csv')
laGreenSpatialConfig_df = df.iloc[:, [3, 4, 5, 6, 34, 35]]
laGreen_df = pd.merge(la_df, laGreenSpatialConfig_df, on='CTCB20')
perCoverGreenDf = pd.read_csv('LACountyProcessedData/perCoverGreen.csv')
laGreen_df = pd.merge(laGreen_df, perCoverGreenDf, on='CTCB20')
laGreen_df.drop(['VALUE_0', 'VALUE_1', 'Total_Cells'], axis=1, inplace=True)
laGreen_df.to_csv('laDataG.csv', index=False)

In [295]:
laWRedlining_df = pd.merge(laGreen_df, laRDf, on='CTCB20')
laWRedlining_df

,CTCB20,FctImp,LST,NDVI,CT20,BG20,CB20,PatchDensity,LandscapeShapeIndex,PerCoverGreen,grade
0,1043212007,60.705882,44658.633073,2408.923096,104321,1043212,2007,0.000000e+00,NaN,0.000000,D
1,1014002000,26.184375,44300.289805,5249.653809,101400,1014002,2000,3.236831e-07,9996.277472,0.166776,C
2,4607005008,20.162679,43441.996243,4834.077148,460700,4607005,5008,4.956582e-07,6682.139077,0.505037,C
3,3014004001,44.000000,43726.307692,4910.115234,301400,3014004,4001,0.000000e+00,NaN,0.000000,A
4,1278061011,83.944444,45571.858203,3065.884521,127806,1278061,1011,0.000000e+00,NaN,0.000000,C
...,...,...,...,...,...,...,...,...,...,...,...
8124,6201013006,69.380952,44618.301711,2578.538574,620101,6201013,3006,0.000000e+00,NaN,0.000000,C
8125,1861001008,34.989247,43797.141507,4453.634766,186100,1861001,1008,0.000000e+00,NaN,0.000000,B
8126,1861001008,34.989247,43797.141507,4453.634766,186100,1861001,1008,0.000000e+00,NaN,0.000000,C
8127,4642003001,48.818182,44347.714379,4849.769043,464200,4642003,3001,0.000000e+00,NaN,0.000000,A
8128,4640001002,34.448980,43116.329922,6014.230957,464000,4640001,1002,0.000000e+00,NaN,0.000000,B

In [297]:
laWRedlining_df.to_csv('laDataGR.csv', index=False)